<form action="/favourites" method="POST">
    <button type="submit"
        class="w-full mt-4 bg-orange-500 text-white py-2 px-4 rounded-lg hover:bg-orange-400 transition-colors font-medium">Add
        to Favourites</button>
    <input type="hidden" name="id" value="<%= home.id %>">
</form>
